p.container {
    column-count: 2; /* 2列 */
    text-align: center; /* 文本居中 */
    height: auto; /* 自动高度 */
    column-width: 10rem; /* 列宽度 */
    background-color: #ffffff30; /* 背景半透明 */
    column-rule: 1px solid #ffffff60; /* 列间隔 */
}

p.left {
    width: 20%;
}